// Specific CSS for your home-page
html{
  height: 100%;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

#home {
  margin: 0;
  font-family: Open-sans, sans-serif;
  padding-top: 0px;
}

