<div class="footer navbar-static-bottom">
  <br>
  <div class="nav justify-content">
    <a class="nav-link" href="#">Careers</a>
    <a class="nav-link" href="#">Press</a>
    <a class="nav-link" href="#">Policies</a>
    <a class="nav-link" href="#">Help</a>
  </ul>
</div>

