<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag(@hotel_attachments.first.photo_url) %>
    </div>
    <% @hotel_attachments.each do |p| %>
    <div class="item">
      <%= image_tag(p.photo_url) %>
    </div>
    <% end %>
  </div>
</div>
