<div class="container">
  <div class="row">
    <h1 class="text-center">Hotels</h1>
    <% @hotels.each do |hotel| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <%= link_to hotel.name, hotel_path(hotel) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
