<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= @hotel.name %>
      <%= @hotel.address %>
      <%= link_to 'Home', hotels_path %>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 25%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
></div>
