<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">100% <strong>Verified</strong> Reviews</h1>
      <%= review.rating %>
      <%= review.content %>
      <%= link_to 'Home', hotels_path %>
    </div>
  </div>
</div>
